{% extends 'layout2/base.html' %}

{% block title %}
    <title>Komik {{ title }} • Komikindo</title>
{% endblock %}

{% block property %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="Baca komik {{ title }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="Komikato" />
    <meta property="og:image" content="{{ thumb }}" />
    <meta property="og:image:url" content="{{ thumb }}" />
    <meta property="og:image:secure_url" content="{{ thumb }}" />
    <meta property="og:image:alt" content="kato_image" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />
{% endblock %}

{% block content %}
    <section>
        <header class="main">
            <h1>{{ title }}</h1>
        </header>

        <div class="btn-group btn-block">
            {% if chapter.prev != None %}
                <a href='/komikindo/chapter/{{chapter.prev}}' class='button fit'>Previous</a>
            {% else %}
                <a href='#' class='button fit disabled'>Previous</a>
            {% endif %}
            &nbsp;
            {% if chapter.next != None %}
                <a href='/komikindo/chapter/{{chapter.next}}' class='button fit'>Next</a>
            {% else %}
                <a href='#' class='button fit disabled'>Next</a>
            {% endif %}
        </div>

        <hr>

        <span class="image main chapter">
            {% for image in images %}
                <img src="{{ image }}" alt="image-{{ forloop.counter }}" id="page-{{ forloop.counter }}" style="display: none;" onerror="this.src=`https://bypass.kato-rest.us/?q=${btoa(this.src)}`">
            {% endfor %}
        </span>
        <hr>
        <h4 class="text-center" id="page-pagination">- / {{images | length }}</h4>
        <hr>

        <div class="btn-group btn-block">
            {% if chapter.prev != None %}
                <a href='/komikindo/chapter/{{chapter.prev}}' class='button fit'>Previous</a>
            {% else %}
                <a href='#' class='button fit disabled'>Previous</a>
            {% endif %}
            &nbsp;
            {% if chapter.next != None %}
                <a href='/komikindo/chapter/{{chapter.next}}' class='button fit'>Next</a>
            {% else %}
                <a href='#' class='button fit disabled'>Next</a>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block settings %}
    <button type="button" class="button primary" id="btn-brightness">
        <i class="fa-solid fa-brightness"></i>
    </button>

    <button type="button" class="button primary" id="btn-option">
        <i class="fa-solid fa-gear"></i>
    </button>
{% endblock %}

{% block search %}
    <section id="search" class="alt" data-source="komikindo">
        <form name="search" action>
            <input type="text" name="query" id="query" placeholder="Search" required>
        </form>
    </section>
{% endblock %}