{% extends 'layout2/base.html' %}

{% block title %}
	<title>Komikindo • Home</title> 
{% endblock %}

{% block property %}
	<meta property="og:title" content="Home · Komikindo" />
	<meta property="og:description" content="Baca Manga di Komikindo" />
	<meta property="og:url" content="{{ url }}" />
	<meta property="og:site_name" content="Komikato" />
	<meta property="og:image" content="/assets/image/komikindo.png" />
	<meta property="og:image:secure_url" content="/assets/image/komikindo.png" />
	<meta property="og:image:alt" content="Komikindo" />
	<meta property="og:image:type" content="image/png" />
{% endblock %}

{% block content %}
	<section>
		<header class="major">
			<h2>Newest Manga</h2>
		</header>

		<div class="posts">
			{% for manga in body.latest %}
				<article>
					<a href="#" class="image center-cropped"><img src="{{manga.thumb}}" alt="" /></a>
						<h3>{{ manga.name }}</h3>  
						<p>Baca {{ manga.name }}</p>
						
						<ul class="actions">
							<li><a class="button" href="/komikindo/{{ manga.link.endpoint }}">More</a></li>
						</ul>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}

{% block search %}
	<section id="search" class="alt" data-source="komikindo">
		<form name="search" action>
			<input type="text" name="query" id="query" placeholder="Search" required>
		</form>
	</section>
{% endblock %}