{% extends 'layout2/base.html' %}

{% block title %}
    <title>Comic {{ title }} • Mangabat</title>
{% endblock %}

{% block property %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content=" {{ synopsis }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="Komikato" />
    <meta property="og:image" content="{{ thumb }}" />
    <meta property="og:image:url" content="{{ thumb }}" />
    <meta property="og:image:secure_url" content="{{ thumb }}" />
    <meta property="og:image:alt" content="kato_image" />
    <meta property="og:image:type" content="image/png" />
{% endblock %}

{% block content %}
    <section>
        <header class="main">
            <h1>{{ title }}</h1>
        </header>

        <div class="btn-group btn-block">
            {% if chapter.prev != None %}
                <a href='/mangabat/chapter/{{chapter.prev}}' class='button fit'>Previous</a>
            {% else %}
                <a href='#' class='button fit'>Previous</a>
            {% endif %}
            &nbsp;
            {% if chapter.next != None %}
                <a href='/mangabat/chapter/{{chapter.next}}' class='button fit'>Next</a>
            {% else %}
                <a href='#' class='button fit disabled'>Next</a>
            {% endif %}
        </div>

        <hr>

        <span class="image main chapter">
            {% for chapter in chapters %}
                <img src="{{ chapter }}" alt="" id="page-{{ forloop.counter }}" style="display: none;" loading="lazy"/>
            {% endfor %}
        </span>
            <hr>

        <div class="btn-group btn-block">
            {% if chapter.prev != None %}
                <a href='/mangabat/chapter/{{chapter.prev}}' class='button fit'>Previous</a>
            {% else %}
                <a href='#' class='button fit'>Previous</a>
            {% endif %}
            &nbsp;
            {% if chapter.next != None %}
                <a href='/mangabat/chapter/{{chapter.next}}' class='button fit'>Next</a>
            {% else %}
                <a href='#' class='button fit disabled'>Next</a>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block settings %}
    <button type="button" class="button primary" id="btn-brightness">
        <i class="fas fa-circle-half-stroke"></i>
    </button>

    <button type="button" class="button primary" id="btn-option">
        <i class="fa-solid fa-gear"></i>
    </button>
{% endblock %}

{% block search %}
    <section id="search" class="alt" data-source="mangabat">
        <form name="search" action>
            <input type="text" name="query" id="query" placeholder="Search" required>
        </form>
    </section>
{% endblock %}