{% include 'layout/header.html' %}
<script>
    document.title = 'Otakudesu • Home';
</script>
<div class="row mt-4 justify-content-center">
    <div class="col">
        <h1 class="text-center">Home</h1>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Title...." id="search-input">
            <div class="input-group-append">
                <button class="btn btn-outline-dark" type="button" onClick="getSearch('otakudesu')">Search</button>
            </div>
        </div>
    </div>
</div>
<hr>

<h3 class="text-center"> Newest Anime </h3>
<hr>
<div id="manga-list" class="row">
    {% for anime in ongoing %}
        <div class="col-md-3">
            <div class="card mb-3" style="width: auto;">
                <img src="{{anime.thumb}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{anime.name}}
                    </h5>
                    <a class="btn btn-dark btn-sm btn-block see-detail" href="#" data-toggle="modal"
                        data-source="otakudesu" data-endpoint="{{anime.endpoint}}"
                        data-target="#exampleModal">Detail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<br>
<hr>

<h3 class="text-center"> Completed Anime </h3>
<hr>
<div id="manga-list" class="row">
    {% for anime in complete %}
        <div class="col-md-3">
            <div class="card mb-3" style="width: auto;">
                <img src="{{anime.thumb}}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{anime.name}}
                    </h5>
                    <a class="btn btn-dark btn-sm btn-block see-detail" href="#" data-toggle="modal"
                        data-source="otakudesu" data-endpoint="{{anime.endpoint}}"
                        data-target="#exampleModal">Detail</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include 'layout/footer.html' %}