{% include 'layout/header.html' %}
<hr>
    <div class="row mt-4 justify-content-center">
        <p>
        <h2 class="text-justify">
            {{ title }}
        </h2>
        </p>
    </div>
    <hr>

    <script>
        document.title = "{{ title }}";
    </script>

    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="row flex justify-content-center">
                <div class="btn-group btn-group-toggle btn-group-lg btn-block">
                    {% if chapter.prev != None %}
                        <a href='/komikindo/chapter/{{chapter.prev}}' class='btn btn-outline-secondary'>Previous</a>
                    {% else %}
                        <a href='#' class='btn btn-outline-secondary disabled'>Previous</a>
                    {% endif %}

                    {% if chapter.next != None %}
                        <a href='/komikindo/chapter/{{chapter.next}}' class='btn btn-outline-secondary'>Next</a>
                    {% else %}
                        <a href='#' class='btn btn-outline-secondary disabled'>Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row mt-4 justify-content-center">
        {% for image in images %}
            <img src='{{image}}' class='img-fluid' alt='Responsive image'>
        {% endfor %}
    </div>

    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="row flex justify-content-center">
                <div class="btn-group btn-group-toggle btn-group-lg btn-block">
                    {% if chapter.prev != None %}
                        <a href='/komikindo/chapter/{{chapter.prev}}' class='btn btn-outline-secondary'>Previous</a>
                    {% else %}
                        <a href='#' class='btn btn-outline-secondary disabled'>Previous</a>
                    {% endif %}

                    {% if chapter.next != None %}
                        <a href='/komikindo/chapter/{{chapter.next}}' class='btn btn-outline-secondary'>Next</a>
                    {% else %}
                        <a href='#' class='btn btn-outline-secondary disabled'>Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% include 'layout/footer.html' %}