{% include 'layout/header.html' %}

<div class="row" id="manga-list">
    <div class="col-md-12">
        <hr>
        <h2 class="text-center"> Hasil Pencarian: </h3>
            <hr>
    </div>

    {% for manga in mangas %}
        <div class="col-md-3">
            <div class="card mb-3" style="width: auto;">
                <img src="{{manga.thumb}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        {{ manga.name }}
                    </h5>
                    <a class="btn btn-dark btn-sm btn-block see-detail" href="#" data-toggle="modal"
                        data-source="komikindo" data-endpoint="{{ manga.link.endpoint }}"
                        data-target="#exampleModal">Detail</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-md-12">
        <hr>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% for page in pagination %}
                    {% if page.url == None and page.endpoint == None %}
                        <li class='page-item active'>
                            <a class='page-link bg-dark text-white'>{{ page.name }}</a>
                        </li>
                    {% else %}
                        <li class='page-item'>
                            <a class='page-link text-dark' href='/komikindo/{{ page.endpoint }}'>{{ page.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
             </ul>
        </nav>
        <hr>
    </div>
</div>

{% include 'layout/footer.html' %}