{% extends 'layout2/base.html' %}
    <script>
        document.title = "{{ title }} • Komikindo";
    </script>

{% block title %}
    <title>{{ title }} • Otakudesu</title>
{% endblock %}

{% block property %}
    <meta property="og:title" content="{{ main_title }}" />
    <meta property="og:description" content="Nonton Anime {{ title }}" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:site_name" content="Komikato" />
    <meta property="og:image" content="{{ thumb }}" />
    <meta property="og:image:url" content="{{ thumb }}" />
    <meta property="og:image:secure_url" content="{{ thumb }}" />
    <meta property="og:image:alt" content="anime_image" />
    <meta property="og:image:type" content="image/png" />
{% endblock %}

{% block content %}
    <section>
        <header class="main">
            <h1>{{ title }}</h1>
        </header>

        <hr class="major">

        <div class="row mt-4" id="video-player">
            <span class="image main chapter">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ stream_link }}" allowfullscreen></iframe>
                </div>
            </span>
        </div>

        <div class="row mx-auto" style="width: 340px;">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="button">Mirror</a>
                {% for mirror in mirror_stream_link %}
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="button dropdown-toggle" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false"> {{ mirror.name }}
                        </button>
                
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            {% for stream in mirror.data%}
                                <a class="dropdown-item" href="#" data-query="{{ stream.url }}">
                                    {{ stream.title }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>  

    <section>
        <header class="major">
            <h2>Link Download</h2>
        </header>

        <div class="row">
            {% for download in download_link %}
                <header class="major">
                    <h3>{{ download.name }}</h3>
                </header>

                <div class="table-wrapper" style="width:100%">
                    <table class="alt">
                        <tbody>
                            {% for link in download.data %}
                                <tr>
                                    <td>{{ link.title }}</td>
                                    <td><a href={{ link.url }} type="button" class="button fit small" target="_blank">Download</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block search %}
    <section id="search" class="alt" data-source="otakudesu">
        <form name="search" action="">
            <input type="text" name="query" id="query" placeholder="Search" required="">
        </form>
    </section>
{% endblock %}