<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li>
            <span class="opener">komikindo</span>
            <ul>
                <li><a href="/komikindo">Home</a></li>
                <li><a href="#">Daftar Komik</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
        <li>
            <span class="opener">otakudesu</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
    </ul>
</nav>