<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li>
            <span class="opener">komikindo</span>
            <ul>
                <li><a href="/komikindo">Home</a></li>
                <li><a href="/komikindo/daftar-komik">Daftar Komik</a></li>
                <li><a href="/komikindo/smut">Smut Manga</a></li>
                <li>
                    <span>komik</span>
                    <ul>
                        <li><a href="/komikindo/manga">Manga</a></li>
                        <li><a href="/komikindo/manhwa">Manhwa</a></li>
                        <li><a href="/komikindo/manhua">Manhua</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <span class="opener">otakudesu</span>
            <ul>
                <li><a href="/otakudesu">Home</a></li>
                <li><a href="/otakudesu/daftar-anime">Daftar Anime</a></li>
                <li><a href="/otakudesu/jadwal-rilis">Jadwal Anime</a></li>
                <li><a href="/otakudesu/complete-anime">Complete Anime</a></li>
                <li><a href="#">Genre</a></li>
            </ul>
        </li>

        <li>
            <span class="opener">mangabat</span>
            <ul>
                <li><a href="/mangabat">Home</a></li>
                <li><a href="/mangabat/genres">Genres</a></li>
            </ul>
        </li>
        {% comment %} <li>
            <span>Brightness (Only work in reader)</span>
            <input type="range" class="form-range" id="brightness" min="10" max="100" value="80">
        </li> {% endcomment %}
    </ul>
</nav>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; KatowProject. All rights reserved. Design: <a
        href="https://html5up.net">HTML5 UP</a>.</p>
</footer>