{% include "layout2/header.html" %}
    <script>
        document.title = "Not Found • Komikato"
    </script>
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">

                <a href="/" class="logo"><strong>Komikato</strong></a>
                <ul class="icons">
                    <li><a href="//github.com/KatowProject" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>
            </header>

            <!-- Section -->
            <section>
                <header class="major">
                    <h2>404 Not Found</h2>
                </header>
                <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>

                <span class="image main"><img src="/assets/image/menhera-thonk.gif" alt="" /></span>
            </section>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">
            {% include 'layout2/navbar.html' %}
            <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; KatowProject. All rights reserved. Design: <a
                        href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>
        </div>
    </div>
{% include "layout2/footer.html" %}