{% extends 'layout2/base.html' %}

{% block content %}
<section>
    <header class="major">
        <h2>Scraping List</h2>
    </header>
        
    <div class="posts">
        <article>
            <a href="#" class="image justify"><img src="/assets/image/komikindo.png" alt=""/></a>
			<h3>Komikindo</h3>
			<p>Baca Manga di Komikindo.</p>
			
			<ul class="actions">
				<li><a href="/komikindo" class="button">More</a></li>
			</ul>
    	</article>
        
		<article>
			<a href="#" class="image justify"><img src="/assets/image/otakudesu.png" alt=""/></a>
			<h3>Otakudesu</h3>
			<p>Nonton Anime di Otakudesu.</p>
									
			<ul class="actions">
				<li><a href="/otakudesu" class="button">More</a></li>
			</ul>
		</article>
    </div>
</section>

{% endblock%}